<div>
  <h3>Editar professor</h3>
</div>
<form class="example-container" [formGroup]="teacher" (ngSubmit)="updateTeacher(teacher.value)">
  <mat-form-field>
    <input matInput name="name" placeholder="Nome" formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <input  matInput name="lastname" placeholder="Sobrenome" formControlName="lastname">
  </mat-form-field>
  <mat-form-field>
    <input matInput name="phd" placeholder="phd" formControlName="phd">
  </mat-form-field>

  <button type="submit" [disabled]="!teacher.value" mat-button color="primary" >Editar</button>
</form>
