<div>
  <h1>Cadastre um professor</h1>
</div>

<form class="example-container" [formGroup]="teacher" (ngSubmit)="postTeacher(teacher.value)">

  <mat-form-field>
    <input matInput name = "name" required placeholder="Nome" formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <input matInput name = "lastname" required placeholder="Sobrenome" formControlName="lastname">
  </mat-form-field>

  <mat-form-field>
        <mat-label>PHD</mat-label>
        <select matNativeControl required name="phd" formControlName="phd">
          <option value="true">Possui</option>
          <option value="false">Não possui</option>
        </select>
      </mat-form-field>

  <button type="submit" [disabled]="!teacher.valid" mat-raised-button color="primary">Cadastrar</button>
</form>
