<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="result">
    <mat-spinner *ngIf="result"></mat-spinner>
  </div>
  <div class="button-row">
    <button mat-flat-button color="accent" [routerLink]="['/teacher']"><mat-icon>list</mat-icon> Voltar</button>
  </div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Nome: {{teacher.name}}</mat-card-title>
      <mat-card-subtitle class="subtitle">Sobrenome: {{teacher.lastname}}</mat-card-subtitle>
      <mat-card-subtitle class ="subtitle">phd: {{teacher.phd}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
        <button mat-flat-button color="primary" class="teste" [routerLink]="['/teacher/update/',teacher.id]"><mat-icon>edit</mat-icon> Editar</button>
      </mat-card-actions>
      <mat-card-actions>
          <button mat-flat-button color="warn" (click)="deleteTeacher(teacher.id)"><mat-icon>delete</mat-icon> Excluir</button>
        </mat-card-actions>
    </mat-card>
</div>
