<!-- The content below is only a placeholder and can be replaced.
  <h1>
     {{ title }}
  </h1>
<nav>
  <button mat-raised-button color="primary" routerLink="/user">Usuário</button>
 <button mat-raised-button color="primary" routerLink="/teacher" >Professor</button>
  <button mat-raised-button color="primary" routerLink="/course" >Curso</button>
 <button  mat-raised-button color="primary" routerLink="/student" >Estudante</button>
</nav> -->

  <app-menu></app-menu>
  <router-outlet></router-outlet>



