<p>
  user works!
</p>

<div><h1>Usuários cadastrados</h1></div>

<div><table mat-table[dataSource] = "dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef = "id">
    <th mat-headder-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef = "let row">{{row.id}}</td>
  </ng-container>

  <ng-container matColumnDef = "name">
    <th mat-header-cell *matHeaderCellDef>Nome</th>
    <td mat-cell *matCellDef="let row">{{row.name}}</td>
  </ng-container>
  <ng-container matColumnDef ="lastname">
    <th mat-header-cell *matHeaderCellDef>Sobrenome</th>
    <td mat-cell *matCellDef="let row">{{row.lastname}}</td>
  </ng-container>
  <ng-container matColumnDef ="name">
    <th mat-header-cell *matHeaderCellDef>Perfil</th>
    <td mat-cell *matCellDef="let row">{{row.profile}}</td>
  </ng-container>

</table>
</div>

