.mat-form-field {
  font-size: 25px;
  width: 100%;
}

button{
    margin: 20px;
    width: 40%;
}

th{
  color:darkcyan;
  font-size: 20px;
}

td{
  font-size: 20px;
  color:black;
}

.example-container {
  height: 400px;
  overflow: auto;
}

.primary{
  background-color: darkcyan;
}